<div class="card text-center" style="margin-top: 100px; background-color: rgb(9, 96, 101);;" >
    <div class="card-header"style="border: 1px solid white;">
     
    </div>
    <div class="card-body">
      <h5 class="card-title" style="color: white;" >Git Hub</h5>
      <p class="card-text" style="color: white;">Publish your Website </p>
      <a href="https://github.com/" class="btn btn-primary" style="padding-left: 30px;padding-right: 30px;" >  Visit</a>
    </div>
    <div class="card-footer "  style="  color: white; border: 1px solid white;" >
      Employee App
    </div>
  </div>